In [6]:
pip install pandas==1.1.5

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas==1.1.5 in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas==1.1.5) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.1.5) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas==1.1.5) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas==1.1.5) (1.15.0)

In [7]:
import pandas as pd
import io

In [12]:
input_data = 'Resources/housing.csv'
df = pd.read_csv(input_data, lineterminator='\n')
df

,median_house_value,crime_rate,land_zone,business_acres,charles_river_adjacency,nitric_oxide_concentration,avg_rooms_per_dwelling,units_prior_1940,distance_to_employment_center,highway_accessibility_index,property_tax_rate,pupil_teacher_ratio
0,11.9,20.71620,0.0,18.10,0,0.659,4.138,100.0,1.1781,24,666,20.2
1,13.3,9.82349,0.0,18.10,0,0.671,6.794,98.8,1.3580,24,666,20.2
2,37.9,0.09103,0.0,2.46,0,0.488,7.155,92.2,2.7006,3,193,17.8
3,29.9,0.06642,0.0,4.05,0,0.510,6.860,74.4,2.9153,5,296,16.6
4,12.8,9.39063,0.0,18.10,0,0.740,5.627,93.9,1.8172,24,666,20.2
...,...,...,...,...,...,...,...,...,...,...,...,...
1513,23.2,5.29305,0.0,18.10,0,0.700,6.051,82.5,2.1678,24,666,20.2
1514,13.5,8.20058,0.0,18.10,0,0.713,5.936,80.3,2.7792,24,666,20.2
1515,36.4,0.08664,45.0,3.44,0,0.437,7.178,26.3,6.4798,5,398,15.2
1516,13.4,3.32105,0.0,19.58,1,0.871,5.403,100.0,1.3216,5,403,14.7
1517,23.1,0.40202,0.0,9.90,0,0.544,6.382,67.2,3.5325,4,304,18.4

In [13]:
df.shape

(1518, 12)

In [ ]:
for i in range(0,10000):
  df = df.append(df)

df.shape